.follow {
  background-color: #04549c;
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  padding-block: 50px;
}

.follow .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.follow .container .title {
  padding: 50px;
}

.follow .container .title img {
  width: 300px;
}

.follow .container .socialMedia {
  display: flex;
  flex-wrap: wrap;
}

.follow .container .socialMedia figure {
  width: 100px;
  transition: all 0.3s;
}

.follow .container .socialMedia figure:hover {
  transform: scale(1.1);
}

.socialEmbebed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.vote-card {
  text-align: center;
  margin-block: 50px;
}

.vote-card figure {
  margin: 0;
  transition: all 0.3s;
}

.vote-card figure:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 670px) {
  .follow {
    clip-path: none;
  }
  .follow .container .title {
    padding: 0;
  }
  .follow .container .title img {
    width: 200px;
  }
}
