.profile {
  font-size: 22px;
  padding-block: 70px;
  background-color: #e31016;
  clip-path: polygon(0 12%, 100% 0, 100% 89%, 0% 100%);
}

.profile .profileMain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile .profileMain .picture img {
  width: 300px;
  transition: all 0.3s;
}

.profile .profileMain .picture img:hover {
  transform: scale(1.05);
}

.profile .description {
  width: 50%;
  color: #fff;
}

@media screen and (max-width: 670px) {
  .profile {
    clip-path: none;
    padding: 20px 60px;
  }
  .profile .profileMain .picture img {
    width: 200px;
  }
  .profile .description {
    width: 100%;
    font-size: 20px;
  }
}
