.profile {
  font-size: 22px;
}

.profile .profileMain {
  padding-block: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* 
.profile .profileMain .picture {
  width: 100%;
} */

.profile .profileMain .picture img {
  width: 300px;
  /* width: 100%; */
}

.profile .description {
  width: 50%;
  color: #fff;
}

.jobs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #04549c;
  width: 50%;
  margin: 20px auto;
}

.list ul {
  list-style: none;
}

.list li::before {
  content: "\2022";
  padding-right: 8px;
  color: red;
}

.list .work-description {
  display: flex;
  width: 900px;
}

.work-description figure {
  width: 10%;
}

.work-description p {
  width: 90%;
}
