.proposal {
  color: #04549c;
  clip-path: polygon(0 6%, 100% 0, 100% 89%, 0% 100%);
  font-size: 20px;
}

.proposal .title {
  background-color: #04549c;
  padding-block-start: 70px;
}

.proposal .title figure img {
  width: 300px;
  margin: auto 0;
  padding-inline-start: 50px;
}

.proposals-text .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px;
}

.proposals-text .container .article {
  margin: 10px;
}

.proposals-text .container .article figure {
  margin: 0;
}

.proposals-text .container .article figure img {
  text-align: left;
  width: 300px;
  transition: all 0.3s;
}

.proposals-text .container .article figure img:hover {
  transform: scale(1.03);
}

.proposals-text .container .article p,
h3 {
  max-width: 300px;
}

@media screen and (max-width: 670px) {
  .proposal {
    clip-path: none;
  }
  .proposal .title {
    padding-block-start: 20px;
  }
  .proposal .title figure img {
    padding: 0;
  }
}
