.hero {
  background-image: url("./assets/h2-banner-edgar-mayorga.jpg");
  clip-path: polygon(0 12%, 100% 0, 100% 89%, 0% 110%);
  height: 100vh;
  width: auto;
  padding-block-end: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #04549c;
  text-align: center;
  position: relative;
  z-index: -2;
  text-transform: uppercase;
}

.hero .container {
  position: absolute;
  top: 120px;
  right: 180px;
}

.hero h1 {
  font-size: 50px;
  max-width: 1000px;
}

.hero h2 {
  font-size: 30px;
  max-width: 500px;
}

.alternate {
  color: #e31016;
}

#redText {
  color: #e31016;
}

#blueText {
  color: #04549c;
}

@media screen and (min-width: 1300px) {
  .hero .container {
    top: 250px;
    right: 420px;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    padding: 0;
  }

  .hero .container {
    top: 150px;
    right: 120px;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    background-size: contain;
    background-position: center;
    font-size: 10px;
  }
  .hero .container {
    top: 150px;
    right: 80px;
  }

  .hero h1 {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: url("./assets/banner-cel-edgar-mayorga.jpg");
    max-height: 550px;
  }
  .hero .container {
    display: none;
  }
}
