.hero {
  background-image: url("./assets/h2-banner-edgar-mayorga.jpg");
  clip-path: polygon(0 12%, 100% 0, 100% 89%, 0% 110%);
  height: 100vh;
  width: auto;
  padding-block-end: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #04549c;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  position: relative;
  z-index: -2;
  text-transform: uppercase;
}

.hero .container {
  position: absolute;
  top: 120px;
  right: 180px;
}

.hero h1 {
  font-size: 50px;
  /* margin: -20px 0 -20px; */
  max-width: 1000px;
}

.hero h2 {
  font-size: 30px;
  /* letter-spacing: 1px; */
  max-width: 500px;
}

.alternate {
  color: #e31016;
}

#redText {
  color: #e31016;
}

#blueText {
  color: #04549c;
}
