.howVote {
  display: flex;
  align-items: center;
  background-color: #f5f5dc;
  clip-path: polygon(0 12%, 100% 0, 100% 89%, 0% 100%);
  padding-block: 100px;
}

.howVote .container .cardVote img {
  margin-block-start: -50px;
  transition: all 0.3s;
  max-width: 700px;
  width: 100%;
  /* display: none; */
}

.howVote .container .cardVote img:hover {
  transform: scale(1.1);
}

.howVoteBtn {
  text-align: center;
}

.howVoteBtn a {
  background-color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  border: 1px solid #04549c;
  color: #04549c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  appearance: button;
  text-decoration: none;
}

.backBtn {
  border: 1px #e31016 solid;
  width: 150px;
  margin: auto;
}

.howVoteBtn a:hover {
  background-color: #04549c;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .howVote .container .cardVote img {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 670px) {
  .howVote {
    padding-block: 20px;
    clip-path: none;
  }
  .howVoteImg {
    text-align: center;
    margin-block-end: 50px;
    max-width: 300px;
    width: 100%;
  }
  figure.cardVote {
    padding: 10px;
  }
}
